web/WEB-INF/wsdl/10.10.30.35/WSSimuladorCreditoCooperagro/WSClientSimuladorCredito.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="WSSimuladorCredito" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="WSSimuladorCredito" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="WSSimuladorCredito">
      <s:element name="WS_CONSULTA_LIQUIDACION">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pws_monto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_nro_cuotas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_fecha_sol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_val_recog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_cod_credi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_form_plazo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_identific" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_form_periodic" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_val_tf1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_fec_tf1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_val_tf2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_fec_tf2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_val_tf3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_fec_tf3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_bd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_usu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_CONSULTA_LIQUIDACIONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_CONSULTA_LIQUIDACIONResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:complexContent mixed="false">
          <s:extension base="tns:General">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="R_Liquidacion" type="tns:ArrayOfLiquidacion" />
              <s:element minOccurs="0" maxOccurs="1" name="R_Val_cuota" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="R_s_moneda" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="R_s_mensaje" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="General">
        <s:complexContent mixed="false">
          <s:extension base="tns:SalFunctionalClass" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SalFunctionalClass" />
      <s:complexType name="Liquidacion">
        <s:complexContent mixed="false">
          <s:extension base="tns:General">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="n_num_cuo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="f_fecha" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_sal_ini" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_capital" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_int_1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_int_2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_int_3" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_int_4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_int_5" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_int_6" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_int_7" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_int_8" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_int_9" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_int_10" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_cap_tf" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_int_tf" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_total" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="n_sal_fin" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfLiquidacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Liquidacion" nillable="true" type="tns:Liquidacion" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WS_CONSULTA_LIQUIDACIONSoapIn">
    <wsdl:part name="parameters" element="tns:WS_CONSULTA_LIQUIDACION" />
  </wsdl:message>
  <wsdl:message name="WS_CONSULTA_LIQUIDACIONSoapOut">
    <wsdl:part name="parameters" element="tns:WS_CONSULTA_LIQUIDACIONResponse" />
  </wsdl:message>
  <wsdl:portType name="WSClientSimuladorCreditoSoap">
    <wsdl:operation name="WS_CONSULTA_LIQUIDACION">
      <wsdl:input message="tns:WS_CONSULTA_LIQUIDACIONSoapIn" />
      <wsdl:output message="tns:WS_CONSULTA_LIQUIDACIONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSClientSimuladorCreditoSoap" type="tns:WSClientSimuladorCreditoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_CONSULTA_LIQUIDACION">
      <soap:operation soapAction="WSSimuladorCredito/WS_CONSULTA_LIQUIDACION" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSClientSimuladorCreditoSoap12" type="tns:WSClientSimuladorCreditoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_CONSULTA_LIQUIDACION">
      <soap12:operation soapAction="WSSimuladorCredito/WS_CONSULTA_LIQUIDACION" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSClientSimuladorCredito">
    <wsdl:port name="WSClientSimuladorCreditoSoap" binding="tns:WSClientSimuladorCreditoSoap">
      <soap:address location="http://10.10.30.35/WSSimuladorCreditoCooperagro/WSClientSimuladorCredito.asmx" />
    </wsdl:port>
    <wsdl:port name="WSClientSimuladorCreditoSoap12" binding="tns:WSClientSimuladorCreditoSoap12">
      <soap12:address location="http://10.10.30.35/WSSimuladorCreditoCooperagro/WSClientSimuladorCredito.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>