web/WEB-INF/wsdl/129.213.113.194/WSReglasOtorgamientoCoopedac/WSReglasOtorgamientoCoopedac.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="WSReglasOtorgamientoCoopedac" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="WSReglasOtorgamientoCoopedac" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="WSReglasOtorgamientoCoopedac">
      <s:element name="validaReglas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pws_identific" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_cod_credi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_bd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_usu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pws_psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validaReglasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validaReglasResult" type="tns:RespuestaPermite" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RespuestaPermite">
        <s:complexContent mixed="false">
          <s:extension base="tns:SalFunctionalClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="R_s_respuesta" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SalFunctionalClass" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="validaReglasSoapIn">
    <wsdl:part name="parameters" element="tns:validaReglas" />
  </wsdl:message>
  <wsdl:message name="validaReglasSoapOut">
    <wsdl:part name="parameters" element="tns:validaReglasResponse" />
  </wsdl:message>
  <wsdl:portType name="WSReglasOtorgamientoCoopedacSoap">
    <wsdl:operation name="validaReglas">
      <wsdl:input message="tns:validaReglasSoapIn" />
      <wsdl:output message="tns:validaReglasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSReglasOtorgamientoCoopedacSoap" type="tns:WSReglasOtorgamientoCoopedacSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validaReglas">
      <soap:operation soapAction="WSReglasOtorgamientoCoopedac/validaReglas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSReglasOtorgamientoCoopedacSoap12" type="tns:WSReglasOtorgamientoCoopedacSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validaReglas">
      <soap12:operation soapAction="WSReglasOtorgamientoCoopedac/validaReglas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSReglasOtorgamientoCoopedac">
    <wsdl:port name="WSReglasOtorgamientoCoopedacSoap" binding="tns:WSReglasOtorgamientoCoopedacSoap">
      <soap:address location="http://129.213.113.194/WSReglasOtorgamientoCoopedac/WSReglasOtorgamientoCoopedac.asmx" />
    </wsdl:port>
    <wsdl:port name="WSReglasOtorgamientoCoopedacSoap12" binding="tns:WSReglasOtorgamientoCoopedacSoap12">
      <soap12:address location="http://129.213.113.194/WSReglasOtorgamientoCoopedac/WSReglasOtorgamientoCoopedac.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>