src/conf/xml-resources/web-service-references/WebServicePSE/wsdl/190.85.106.122_8080/Coopedac/WebServicePSE.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="WebServicePSE">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://190.85.106.122:8080/Coopedac/WebServicePSE?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="PSEFunctionality">
<part name="parameters" element="tns:PSEFunctionality" />
</message>
<message name="PSEFunctionalityResponse">
<part name="parameters" element="tns:PSEFunctionalityResponse" />
</message>
<message name="actualizacionPse">
<part name="parameters" element="tns:actualizacionPse" />
</message>
<message name="actualizacionPseResponse">
<part name="parameters" element="tns:actualizacionPseResponse" />
</message>
<portType name="WebServicePSE">
<operation name="hello">
<input wsam:Action="http://WebService/WebServicePSE/helloRequest" message="tns:hello" />
<output wsam:Action="http://WebService/WebServicePSE/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="PSEFunctionality">
<input wsam:Action="http://WebService/WebServicePSE/PSEFunctionalityRequest" message="tns:PSEFunctionality" />
<output wsam:Action="http://WebService/WebServicePSE/PSEFunctionalityResponse" message="tns:PSEFunctionalityResponse" />
</operation>
<operation name="actualizacionPse">
<input wsam:Action="http://WebService/WebServicePSE/actualizacionPseRequest" message="tns:actualizacionPse" />
<output wsam:Action="http://WebService/WebServicePSE/actualizacionPseResponse" message="tns:actualizacionPseResponse" />
</operation>
</portType>
<binding name="WebServicePSEPortBinding" type="tns:WebServicePSE">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="PSEFunctionality">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizacionPse">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WebServicePSE">
<port name="WebServicePSEPort" binding="tns:WebServicePSEPortBinding">
<soap:address location="http://190.85.106.122:8080/Coopedac/WebServicePSE" />
</port>
</service>
</definitions>