src/conf/xml-resources/web-service-references/WebServicePSE/wsdl/190.85.106.122_8080/Coopedac/WebServicePSE.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="PSEFunctionality" type="tns:PSEFunctionality" />

<xs:element name="PSEFunctionalityResponse" type="tns:PSEFunctionalityResponse" />

<xs:element name="actualizacionPse" type="tns:actualizacionPse" />

<xs:element name="actualizacionPseResponse" type="tns:actualizacionPseResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="PSEFunctionality">
<xs:sequence>
<xs:element name="pseTotalPago" type="xs:double" />
<xs:element name="pseTipoIdCliente" type="xs:string" minOccurs="0" />
<xs:element name="pseIdCliente" type="xs:string" minOccurs="0" />
<xs:element name="pseCodigoCliente" type="xs:string" minOccurs="0" />
<xs:element name="pseNombreCliente" type="xs:string" minOccurs="0" />
<xs:element name="pseApellidoCliente" type="xs:string" minOccurs="0" />
<xs:element name="pseTelefonoCliente" type="xs:string" minOccurs="0" />
<xs:element name="pseEmailCliente" type="xs:string" minOccurs="0" />
<xs:element name="ip_cliente" type="xs:string" minOccurs="0" />
<xs:element name="credito" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="PSEFunctionalityResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizacionPse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="actualizacionPseResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>